Datasets/REFUGE/**/Images/** filter=lfs diff=lfs merge=lfs -text
Datasets/REFUGE/**/Images_Cropped/** filter=lfs diff=lfs merge=lfs -text
Datasets/REFUGE/**/Masks/** filter=lfs diff=lfs merge=lfs -text
Datasets/REFUGE/**/Masks_Cropped/** filter=lfs diff=lfs merge=lfs -text
Datasets/REFUGE/**/gts/** filter=lfs diff=lfs merge=lfs -text